<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="interval" value="30000" />
  </appSettings>
  <system.serviceModel>

    <services>
      <service name="PMA.CommunicationAPI.PMACommunicationAPI" behaviorConfiguration="PMA.CommunicationAPIBehavior">
        <endpoint address="net.tcp://localhost:8585/PMA.CommunicationAPI.PMACommunicationAPI"
                  binding="netTcpBinding"
                  bindingConfiguration=""
                  contract="PMA.CommunicationAPI.IPMACommunicationContract">
          <!--<identity>
            <dns value="localhost" />
          </identity>-->
        </endpoint>
        <endpoint address="net.tcp://localhost:8586/mex" binding="mexTcpBinding" contract="IMetadataExchange" />
        <!--<host>
          <baseAddresses>
            <add baseAddress ="net.tcp://localhost:8585/PMA.CommunicationAPI.PMACommunicationAPI"/>
          </baseAddresses>
        </host>-->
      </service>
    </services>
    <!--<bindings>
      <netTcpBinding>
        <binding name="tcp_Unsecured">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>-->

    <behaviors>
      <serviceBehaviors>
        <behavior name="PMA.CommunicationAPIBehavior">
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="false"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceAuthorization principalPermissionMode="UseWindowsGroups" />
          <serviceThrottling maxConcurrentCalls="20" maxConcurrentInstances="20" maxConcurrentSessions="20"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>